
body {font-family: Arial, "Microsoft Yahei"; font-size: 12px; color: #666;}

.wrapper{width: 100%; margin: 0 auto;}
.float_left {float: left;}
body>header {background-color: #a60003; overflow: hidden; color: #fff; height: 120px; overflow: hidden; position: relative;z-index: 2;}
body>header h1 {width: 359px; height: 100px; background: url(../img/logo.png) no-repeat;}
textarea {resize: none;}
.main-nav{width: 170px; margin-top: 90px;}

#navigation{position: fixed; top: 0; bottom: 0; background-color: #f8f8f8; border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;}

#container {margin-left: 170px;max-width: 1040px; box-sizing: border-box;}

.c-wrapper {padding: 41px 39px;}


ul.sub-nav, ul.flow-nav {margin: 0; padding: 0; font-size: 14px; list-style: none;}
ul.sub-nav li{}
ul.sub-nav li:hover, ul.sub-nav li.curr{background: #9a0002; color: #fff;}
ul.sub-nav li a, ul.flow-nav li a { padding-top: 10px; padding-bottom: 10px; text-align: center; display: block; color: inherit; border-bottom: 1px solid #d9d9d9;}
ul.sub-nav li a:hover, ul.flow-nav li a:hover{text-decoration: none;}

ul.sub-nav .flow a:after{display:inline-block; content: '>'; font-family: simsun; font-weight: bold; margin-left: 5px; transform: rotate(90deg);}
ul.flow-nav{display: none;}
ul.flow-nav.on{display: block;}
ul.flow-nav .flow-item a{}
ul.flow-nav .curr{border-left: 4px solid #9a0002; position: relative; margin-right: -1px; background: #fff;}

.txt-label {width: 120px; height: 34px; text-align: right; line-height: 34px; margin-right: 10px; font-size: 14px;}
.txt-label em{color: #cb1220;}
.input-box {margin-bottom: 20px;}
.form-input{width: 400px;}
.c-input {font-size: 12px;}

.delete_mark{width: 12px; height: 12px; border: none; background: url(../image/delete_mark.png) no-repeat; cursor: pointer; display: none;}
.search-bar{margin-bottom: 20px; float: right; width: 380px; margin-right: -10px; position: relative;}
.search-bar .form-control{height: 26px; }
.search-bar .delete_mark{position: absolute; right: 82px; top: 7px; z-index: 3;}


.ui-dialog, .ui-dialog-title, .ui-dialog-content{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.lab-detail-table{margin-left: 40px;}
.lab-detail-table th{text-align: right; font-size: 14px; padding: 7px 10px 7px 0; width: 110px;}
.lab-detail-table td{font-size: 14px; padding: 7px 0;}
.table th{background: #f7f7f7; text-align: center;}
.table-hover>tbody>tr:hover{background-color: #fdefd2;}

.font-green {color: #22ac38;}
.font-orange {color: #ff6521;}
.font-red {color: #ff0000;}
.font-gray {color: #999999;}
.op-links {margin: 0; width: 130px;}
.op-links .col-sm-6, .op-links .col-sm-3{padding: 0;}

.uas-help-icon{display:inline-block;height:18px;width:18px;line-height:18px;margin:0 0 0 5px;background:#4f4f4f url(//img12.360buyimg.com/da/jfs/t1678/269/385937535/1775/c7ef1b9f/55d2f778Nfdf1ae85.png) -22px 0 no-repeat;cursor:pointer;vertical-align: middle; border-radius: 50%;}
.uas-help-icon:hover{background-position:0 0; background-color: #cb1220;}

.submit-succ, .lab-reject{padding-left: 42px; background: url(../image/icon_yes.png) no-repeat; margin: 10px;min-height: 35px;}
.lab-reject{background: url(../image/icon_no.png) no-repeat;}

body .ui-calendar{border-radius: 0; padding: 2px; -webkit-border-radius: 0; border-color: #e4e4e4;}
body .ui-calendar .ui-calendar-table thead tr:nth-of-type(2){
    line-height: 27px;
    color: #565656;
    font-weight: normal;
    background: #f1f1f1;
}
body .ui-calendar .ui-calendar-table{
    height: 200px;
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
}
body .ui-calendar-table .active,
body .ui-calendar-table .active .festival,
body .ui-calendar-table .active a,
body .ui-calendar-table .active:hover,
body .ui-calendar-table .active:hover a{background: #fd8b94;}

body .ui-calendar-table tr:empty{
    display: none;
}
body .ui-calendar-table td, body .ui-calendar-table th{
    -webkit-border-radius: 0;
    border-radius: 0;
}
body .ui-calendar-footer .confirm-but{
    height: 28px; line-height: 28px;
    color: #fff;
    background: #cb1220;
    padding: 0 17px;
    border-radius: 3px;
    display: inline-block;
}

body .ui-calendar-body{
    /*border: 1px solid #e4e4e4;*/
}

body .ui-calendar-footer{
    padding: 5px 0;
}

body .ui-calendar-left{
    margin-right: 2px;
}

body .ui-calendar-table tfoot th, body .ui-calendar-table tfoot th:hover{
    display: table-cell!important;
    cursor: default!important;
    background: none!important;
}

body .ui-calendar-table td a{color: #666;}

body .ui-calendar .ui-calendar-table thead tr:nth-of-type(1){
    background: #cb1220;
    color: #fff;
    line-height: 35px;
}
body .ui-calendar-table .next i,
body .ui-calendar-table .prev i{
    background: url(../image/calendar_arrow.png) no-repeat;
}
body .ui-calendar-table .prev i{
    background-position: left 0;
}
body .ui-calendar-table .next i{
    background-position: right 0;
}
body .ui-calendar-table .prev:hover,
body .ui-calendar-table .next:hover{
    background: #cb1220;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{border-bottom: none;}

.up-arrow{
    display: inline-block;
    width: 0; height: 0;
    border-width: 5px;
    border-style: dotted dotted solid dotted;
    border-color: transparent transparent #666 transparent;
    overflow: hidden;
    vertical-align: 2px;
    margin-left: 3px;
}

.down-arrow{
    display: inline-block;
    width: 0; height: 0;
    border-width: 5px;
    border-style: solid dotted dotted dotted;
    border-color: #666 transparent transparent transparent;
    overflow: hidden;
    margin-left: 3px;
    vertical-align: -3px;
}

.form-control{border-radius: 0; -webkit-border-radius: 0; box-shadow: none; padding-left: 7px;}
.expect-date{width: 183px; height: 23px; background: url(../image/icon_calendar.png) no-repeat right center; margin-top: 5px; padding-top: 0; padding-bottom: 0}
.visit-people{line-height: 34px;}
.visit-people label{margin-right: 20px; font-weight: normal;}
.visit-people label input{margin: 0 5px 0 0; vertical-align: -2px;}
.tips-visit-people{margin-left: -6px;}

.btn{padding: 3px 20px;}
.btn-danger{background: #cb1220; border-color: #cb1220; margin-right: 10px;}

.default-msg, .error-msg{line-height: 34px; color: #cb1220; padding-left: 10px;}
.default-msg{color: #999;}

.list-lab-name, .list-lab-url{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.list-lab-name{width: 200px;}
.list-lab-date{white-space: nowrap; text-align: center;}
.list-lab-url{width: 100px;}
.list-applied-date{white-space: nowrap; text-align: center;}
.list-lab-status{text-align: center;}

#rep-info span{padding-right:10px;}
#rep-info {color: #666;}

.has-error input, .has-error textarea{border-color: #cb1220;}

.choose-time{padding: 20px 0 20px 20px;}
.choose-time label{font-size: 14px;}
.choose-time .recent_date{margin-left: 20px;}

.chart_wrap{position: relative; height: 640px; padding: 20px; background: #f8f8f8; border: 1px solid #d9d9d9; margin-left: 20px;}
.chart_title{font-size: 20px; color: #666; text-align: center; margin-bottom: 10px;}
.province_bar{width: 300px; height: 580px; color: #71b4fc; position: absolute; right: 30px; top: 30px; overflow-x: hidden; overflow-y: auto;}
.province_bar li{overflow: hidden; height: 30px; line-height: 20px; cursor: pointer; padding: 5px 0;}
.province_bar .num{float: left; width: 20px; margin-left: 5px;}
.province_bar .name{float: left; width: 40px;}
.province_bar .percent_wrap{float: left; width: 160px; height: 20px;}
.province_bar .percent_wrap .percent{background: #71b4fc; display: block; height: 100%;}
.province_bar .percent_num{float: left; width: 40px;}

.province_bar li:hover, .province_bar li.on{background: #0d275a; color: gold; font-weight: bold;}
.province_bar li:hover 
.percent_wrap .percent, .province_bar li.on .percent_wrap .percent{background: gold}

/** place折行 **/
textarea[name="lab_goal"]::-webkit-input-placeholder::after{
    display: block;
    content: "清晰明确的实验目的将有利于审核通过。";
    color: red;
}
textarea[name="lab_goal"]::-ms-input-placeholder::after{
    display: block;
    content: "清晰明确的实验目的将有利于审核通过。";
    color: red;
}
textarea[name="lab_goal"]::-moz-placeholder:after {
    display: block;
    content: "清晰明确的实验目的将有利于审核通过。";
    color: red;
}
#sku-input::-webkit-input-placeholder::after{
    display: block;
    content: "实验开始后，数据展现将以“实验页面”作为底图，并将实验页面与此处的SKU数据一并汇总展现。";
}
#sku-input::-moz-placeholder:after{
    display: block;
    content: "实验开始后，数据展现将以“实验页面”作为底图，并将实验页面与此处的SKU数据一并汇总展现。";
}
#sku-input::-ms-input-placeholder::after{
    display: block;
    content: "实验开始后，数据展现将以“实验页面”作为底图，并将实验页面与此处的SKU数据一并汇总展现。";
}

.c-wrapper {
    padding: 30px 10px 20px 30px !important;
}
.origin-wrapper{
    height:40px;
    line-height: 40px;
    font-size:16px;
    font-weight:bold;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 20px;
}
.origin-wrapper span{margin-right: 16px}
.union-sku {display:none; margin-top: -20px;}

.c-wrapper {
    padding: 20px 0 20px 30px !important;
}
.origin-tab-wrapper{
    font-size:14px;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 10px;

}
.origin-nav {
    margin-bottom:0 !important;
    display: flex;
    align-items:  flex-end;
    padding-left: 10px;
}

.origin-nav a, .origin-nav a:hover{
    display:inline-block;
    padding:4px 22px;
    background-color:#f7f7f7;
    border:1px solid #ddd;
    border-bottom:0;
    margin-right:8px;
    cursor: pointer;
    color:#999;
    text-decoration: none;
}

.origin-nav a.current{
    border-top:4px solid #9a0002;
    color:#000;
    margin-bottom: -1px;
    background-color: #fff;
}

.search-bar {
    margin-bottom: 10px !important;
}

.search-bar .form-control {
    height: 34px !important;
}

.search-bar .btn{
    height: 34px;
}

.search-bar .delete_mark {
    top: 10px !important;
}