<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="stylesheet" type="text/css" href="{{JS_CSS_DOMAIN}}/css/style.css">
</head>
<body>
<div class="container">
    <img src="{{JS_CSS_DOMAIN}}/img/logo.png">
    <h1 class="title">{{title}}</h1>
    <p>非常感谢您选择了vino，下面就开始您的vino之旅吧！</p>
    <p>技术交流或合作，欢迎与我联系qq531532957</p>
    <p>Created By <span><a href="https://jacoobwang.github.io">{{author}}</a></span></p>
    <p><a target="_blank" href="https://jacoobwang.github.io/vino/vino.html">了解更多</a></p>
    <p><a href="/adminhome">这里展示一个简单的demo，欢迎查看</p>
</div>
</body>
</html>
